

html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Reddit Mono", monospace;
}

Canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navigation{
    height: 200px;
    background-color: red;
    opacity: 0;
}

#Homepage{
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.navigation{
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    background-color: #193549;
    width: 100%;
    padding: 0px;
}

.section{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 15vw;
    opacity: 0.7;
    background-color: #193549;
}

.footer{
    background-color: orange;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

ul{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    list-style-type: none;
    padding: 0px;
}

li{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    width: 80%;
    height: 60%;
    background-image: linear-gradient(#193549,#24587e);
    display: flex;
    border-radius: 50px;
    border: 5px solid orange;
    cursor: pointer;
}

#scrollindicator{
    height: 15px;
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 500px;
    background-image: linear-gradient(to right, rgb(255, 221, 0), orange);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}